#main {
    margin: auto;
    margin-top: 30px;
    width: 75%;
}
td img {
    width: 20px;
    height: 20px;
}
#nav {
    display: inline-block;
    width: 20%;
    float: left;
    padding-right: 10px;
}
#list {
    display: inline-block;
    width: 78%;
    padding-left: 10px;
}